@model SucursalConfInput

@{
    ViewData["Title"] = "SucursalConfEdit";
}

@*<style type="text/css">
        #boxscroll {
            height: 220px;
            overflow: auto;
            overscroll-behavior: contain;
      }
    </style>*@



<form id="AjaxFormPopAA">
    <div class="modal fade" tabindex="-1" role="dialog" id="ModalAreaAtencion" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content block-el" id="ModalAABodyBlock">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activar Area Atencion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <h5>Seleccionar las Area de Atención para la sucursal:</h5>
                    <br />
                    <br />

                    <div  style="max-height:200px" data-scroll='dark'>

                        <div id="ModalAABody">
                            <partial name="Shared/_SucursalConfAreaAtencionPop" model="Model.AreaAtencionSucursalInputs" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelPopAA">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="SubmitBtnPopAA">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<header class="page-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h1 class="separator">DATOS DE SUCURSAL</h1>
            <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon dripicons-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-area="Administrativo" asp-controller="AdmUsuario" asp-action="UsuarioMant">Usuarios</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Datos de usuario</li>
                </ol>
            </nav>
        </div>
        <ul class="actions top-right">
            <li class="dropdown">
                <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                    <div class="dropdown-header">
                        Quick Actions
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-clockwise"></i> Refresh
                    </a>
                    <a asp-area="Configuracion" asp-action="CreaUsuarioAdm" asp-controller="AdmUsuario" asp-route-actmtd="4d616e745f557375617269416464" class="dropdown-item">
                        <i class="icon dripicons-plus text-success"></i> Agregar
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-cloud-download"></i> Export
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-help"></i> Support
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

<section class="page-content container-fluid">

    @Html.HiddenFor(p => p.ModAct)
    @Html.HiddenFor(p => p.Input.SucursalId)

    <div class="row">
        <div class="col">

            <div class="card" id="packages">
                <h5 class="card-header text-center"> @Model.Input.Nombre</h5>
                <div class="card-body">
                    <dl class="row m-t-30">
                        @*<dt class="col-md-3  m-b-20">
                                Nombre Sucursal:
                            </dt>
                            <dd class="col-md-9 m-b-20 ">
                                @Model.Input.Nombre
                            </dd>*@
                        <dt class="col-md-3  m-b-20">
                            Telefono de Sucursal:
                        </dt>
                        <dd class="col-md-9 m-b-20 ">
                            @Model.Input.Telefono / @Model.Input.Telefono2
                        </dd>
                        <dt class="col-md-3  m-b-20">
                            Correo de Sucursal:
                        </dt>
                        <dd class="col-md-9 m-b-20 ">
                            @Model.Input.CorreoSucursal / @Model.Input.CorreoSucursal2
                        </dd>
                        <dt class="col-md-3">
                            Dirección :
                        </dt>
                        <dd class="col-md-8 m-b-20">
                            @Model.Input.Direccion
                        </dd>
                        <dt class="col-md-3">
                            Departamento / Provincia / Distrito :
                        </dt>
                        <dd class="col-md-8 m-b-20">
                            @Model.Departamento
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            Card Actions
                            <ul class="actions top-right">
                                <li><a href="#" data-toggle="modal" data-target="#ModalAreaAtencion" id="BtnAddAreaSucursal"><i class="icon dripicons-plus text-success"></i></a></li>
                                <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons- text-success"></i></a></li>

                                <li><a href="javascript:void(0)" data-q-action="card-collapsed"><i class="icon dripicons-chevron-down"></i></a></li>
                                <li><a href="javascript:void(0)" data-qt-block=".block-el"><i class="icon dripicons-clockwise"></i></a></li>
                                <li><a href="javascript:void(0)" data-q-action="card-expand"><i class="icon dripicons-expand-2"></i></a></li>
                                <li><a href="javascript:void(0)" data-q-action="card-remove"><i class="icon dripicons-cross"></i></a></li>
                                <li class="dropdown">
                                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="la la-ellipsis-h"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right animation">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body" id="SucursalArAt">
                            <partial name="Shared/_SucursalConfAreaAtencion" model="Model.AreaSucursal" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/MetodosCallSubmit.js"></script>
    <script src="~/js/CargaDatosGnrl.js"></script>

    <script type="text/javascript">

        $("#BtnAddAreaSucursal").click(function () {
            console.log("aaaaaa");
                let post = new AjaxSubmit("@Url.Action("SucursalObtenerAreaAdd", "EmpresaConfg")", "", "Error obtener area atención");
                let dt = { id: $("#Input_SucursalId").val() }
                post.partial = "#ModalAABody";
                post.divBlock = "#ModalAABodyBlock";
                post.AjaxPopCall(dt);
            });

        $("#AjaxFormPopAA").submit(function (e) {
            e.preventDefault();

            if (!$("#AjaxFormPopAA").valid()) {
                return;
            }

            let post = new AjaxSubmit("@Url.Action("SucursalConfAddArAt", "EmpresaConfg")", "#SubmitBtnPopAA", "Error almacenamiento");
            post.btnCancel = "#btnCancelPopAA";
            post.partial = "#SucursalArAt";
            let dt = ExtraccionDt();
            post.AjaxPop(dt);
        });

        function ExtraccionDt() {
            let arat = [];

            $.each($("#CollectAreAten li input"), function () {
              if ( $("#" + this.id).prop('checked'))
                  arat.push(this.id);
            });

            var DtGnrl = {
                SucursalId: $("#Input_SucursalId").val(),
                AreaAtencions: arat,
                ModAct: $("#ModAct").val()
            };

            return DtGnrl;
        }
    </script>

}