@model UsuarioViewInput.HorarioMedicoViewParam


  
        <div class="card">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @foreach (SelectListItem diasel in Model.DiaScheduler)
                    {

                        <li class="list-group-item">

                            <h5 class="p-b-30"> @diasel.Text</h5>

                            <table class="table v-align-middle" id="004154564">
                                <thead class="bg-light">
                                    <tr>
                                        <th>
                                            Hora Inicio - Fin
                                        </th>
                                        @if (Model.MultiSucursal)
                                        {
                                            <th>
                                                Sucursal
                                            </th>
                                        }
                                        <th>
                                            Area Atencion
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var valorhm in Model.HorarioMedicoViews.Where(w => w.DiaSemanaId.Equals(Convert.ToInt16(diasel.Value))))
                                    {
                                        <tr>
                                            <td>
                                                @valorhm.FechaIni.TimeOfDay.ToString() - @valorhm.FechaFin.TimeOfDay.ToString()
                                            </td>

                                            @if (Model.MultiSucursal)
                                            {
                                                <td>
                                                    @valorhm.SucursalName
                                                </td>
                                            }

                                            <td>
                                                <select class="form-control arealst" name="@valorhm.HorarioId">
                                                    @foreach (SelectListItem item in valorhm.AreaAtencions)
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <a href="#" class="BtnHorarioMedicosEdit" title="Editar Medico" data-dia="@valorhm.DiaSemanaId" data-suc="@valorhm.SucursalId" data-tih="@valorhm.Tipo_HorarioId" id="@valorhm.HorarioId">
                                                    <i class="far fa-pencil-alt fa-2x"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </li>

                    }
                </ul>
            </div>
        </div>
